
	<div id = "topics">
		<%= render :partial => "shared/topics" %>
	</div>

	<div id = "newMessage" >

		<%= render :partial => "shared/newMessage" %>


	</div>
</div>  <!-- Sidebar div closed -->


<div id = "messageArea">

	<h4> <%= @title %> </h4>

		<%= render :partial => "shared/messageArea" %>
</div>
