
	<div class = "topics">
		<%= render :partial => "shared/topics" %>
	</div>

	<div id = "newMessage" >
		<%= render :partial => "shared/newMessage" %>
	</div>

</div>  <!-- Sidebar div closed -->

<div class = "messageArea">

	<h4> <%= @title %> </h4>

		<%= render :partial => "shared/messageArea" %>
</div>
