</div> <!-- Close sidebar div -->

<div class="smallContainer">
	<h1>User <%= @user.name %></h1>
	<ul>
		<li>Text color: <%= @user.textColor %></li>
		<li>Font : <%= @user.font %></li>
	</ul>

	<br />
	<div>
		<%= link_to "User index", user_list_path %>
	</div>
</div>
