</div> <!-- Close sidebar div -->

<div id="signUpForm">
	<h1>User <%= @user.name %></h1>
	<ul>
		<li>Text color: <%= @user.textColor %></li>
		<li>Font : <%= @user.font %></li>
	<ul>
</div>

<div>
<%= link_to "User index", user_list_path %>
</div>
