<%# Functionality for topic links list%>
<h4 class = "compact" >Recent topics</h4>
<ul class="compact" >
	<% counter = 1 %>
	<% for topic in @topic_list %>
		<li>
			<%= link_to topic.title, topic_path(topic) %>
		</li>
	<% end %>
</ul>